In [1]:
import pandas as pd
import numpy as np

The U.S. Department of Transportation's (DOT) Bureau of Transportation Statistics tracks the on-time performance of domestic flights operated by large air carriers. 
This dataset is collected from the Bureau of Transportation Statistics, Govt. of the USA. This data is open-sourced under U.S. Govt. Works.  I dowload 12 csv file that represents each month of 2022. This dataset contains all US domestic flights in 2022.

Here is the URL of the dataset. 

https://www.transtats.bts.gov/DL_SelectFields.aspx?gnoyr_VQ=FGK&QO_fu146_anzr=b0-gvzr

There are 120 features in each month csv. I prepared a list which shows the general information about flights. 
I choose 19 columns from every month of 2022, and then I concat them and save it as csv file. Dataset has 19 features in average with 7 million rows.

In [2]:
df1=pd.read_csv("Flights_2022_1.csv",sep=',', index_col=False, dtype='unicode')
df1.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2022,1,1,6,4,2022-01-06,DL,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2022,1,1,6,4,2022-01-06,DL,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2022,1,1,6,4,2022-01-06,DL,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2022,1,1,6,4,2022-01-06,DL,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2022,1,1,6,4,2022-01-06,DL,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [3]:
l = ["Quarter", "Month","DayofMonth", "DayOfWeek", "FlightDate", "Marketing_Airline_Network", "OriginCityName", "DestCityName", "DepDelay", "ArrDelay", "Cancelled", "Diverted", "AirTime", "Distance", "CarrierDelay", "WeatherDelay", "NASDelay", "SecurityDelay", "LateAircraftDelay"]
df1=df1[l]
df1

,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,OriginCityName,DestCityName,DepDelay,ArrDelay,Cancelled,Diverted,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1,1,6,4,2022-01-06,DL,"Fort Lauderdale, FL","New York, NY",NaN,NaN,1.00,0.00,NaN,1076.00,NaN,NaN,NaN,NaN,NaN
1,1,1,6,4,2022-01-06,DL,"Atlanta, GA","Fort Lauderdale, FL",-4.00,-1.00,0.00,0.00,93.00,581.00,NaN,NaN,NaN,NaN,NaN
2,1,1,6,4,2022-01-06,DL,"Fort Lauderdale, FL","Atlanta, GA",-2.00,-12.00,0.00,0.00,83.00,581.00,NaN,NaN,NaN,NaN,NaN
3,1,1,6,4,2022-01-06,DL,"Fort Lauderdale, FL","Raleigh/Durham, NC",-5.00,-15.00,0.00,0.00,93.00,680.00,NaN,NaN,NaN,NaN,NaN
4,1,1,6,4,2022-01-06,DL,"Atlanta, GA","Jackson/Vicksburg, MS",-4.00,-11.00,0.00,0.00,60.00,341.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563732,1,1,24,1,2022-01-24,UA,"Houston, TX","Oklahoma City, OK",NaN,NaN,1.00,0.00,NaN,395.00,NaN,NaN,NaN,NaN,NaN
563733,1,1,24,1,2022-01-24,UA,"Oklahoma City, OK","Houston, TX",NaN,NaN,1.00,0.00,NaN,395.00,NaN,NaN,NaN,NaN,NaN
563734,1,1,24,1,2022-01-24,UA,"Atlanta, GA","Washington, DC",NaN,NaN,1.00,0.00,NaN,534.00,NaN,NaN,NaN,NaN,NaN
563735,1,1,24,1,2022-01-24,UA,"Washington, DC","Atlanta, GA",NaN,NaN,1.00,0.00,NaN,534.00,NaN,NaN,NaN,NaN,NaN
563736,1,1,24,1,2022-01-24,UA,"Houston, TX","Nashville, TN",NaN,NaN,1.00,0.00,NaN,657.00,NaN,NaN,NaN,NaN,NaN

In [4]:
df1.shape

(563737, 19)

In [5]:
df2=pd.read_csv("Flights_2022_2.csv",sep=',', index_col=False, dtype='unicode')
df2.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2022,1,2,28,1,2022-02-28,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2022,1,2,28,1,2022-02-28,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2022,1,2,28,1,2022-02-28,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2022,1,2,28,1,2022-02-28,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2022,1,2,28,1,2022-02-28,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [6]:
l = ["Quarter", "Month","DayofMonth", "DayOfWeek", "FlightDate", "Marketing_Airline_Network", "OriginCityName", "DestCityName", "DepDelay", "ArrDelay", "Cancelled", "Diverted", "AirTime", "Distance", "CarrierDelay", "WeatherDelay", "NASDelay", "SecurityDelay", "LateAircraftDelay"]
df2=df2[l]
df2

,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,OriginCityName,DestCityName,DepDelay,ArrDelay,Cancelled,Diverted,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1,2,28,1,2022-02-28,UA,"Denver, CO","Dodge City, KS",-1.00,-11.00,0.00,0.00,47.00,292.00,NaN,NaN,NaN,NaN,NaN
1,1,2,28,1,2022-02-28,UA,"Kearney, NE","Denver, CO",-10.00,-13.00,0.00,0.00,54.00,305.00,NaN,NaN,NaN,NaN,NaN
2,1,2,28,1,2022-02-28,UA,"Meridian, MS","Houston, TX",-11.00,-23.00,0.00,0.00,78.00,422.00,NaN,NaN,NaN,NaN,NaN
3,1,2,28,1,2022-02-28,UA,"Sheridan, WY","Denver, CO",-1.00,-3.00,0.00,0.00,55.00,359.00,NaN,NaN,NaN,NaN,NaN
4,1,2,28,1,2022-02-28,UA,"Denver, CO","Gillette, WY",-6.00,-6.00,0.00,0.00,55.00,313.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519947,1,2,25,5,2022-02-25,UA,"Denver, CO","Idaho Falls, ID",16.00,0.00,0.00,0.00,77.00,458.00,NaN,NaN,NaN,NaN,NaN
519948,1,2,23,3,2022-02-23,UA,"Wichita, KS","Houston, TX",144.00,145.00,0.00,0.00,96.00,542.00,144.00,0.00,1.00,0.00,0.00
519949,1,2,22,2,2022-02-22,UA,"Houston, TX","Wichita, KS",-7.00,-15.00,0.00,0.00,76.00,542.00,NaN,NaN,NaN,NaN,NaN
519950,1,2,16,3,2022-02-16,UA,"Roanoke, VA","Washington, DC",-9.00,-5.00,0.00,0.00,40.00,177.00,NaN,NaN,NaN,NaN,NaN
519951,1,2,15,2,2022-02-15,UA,"Washington, DC","Roanoke, VA",2.00,12.00,0.00,0.00,44.00,177.00,NaN,NaN,NaN,NaN,NaN

In [7]:
df2.shape

(519952, 19)

In [8]:
df3=pd.read_csv("Flights_2022_3.csv",sep=',', index_col=False, dtype='unicode')
df3.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2022,1,3,8,2,2022-03-08,DL,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2022,1,3,12,6,2022-03-12,DL,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2022,1,3,15,2,2022-03-15,DL,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2022,1,3,19,6,2022-03-19,DL,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2022,1,3,22,2,2022-03-22,DL,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [9]:
l = ["Quarter", "Month","DayofMonth", "DayOfWeek", "FlightDate", "Marketing_Airline_Network", "OriginCityName", "DestCityName", "DepDelay", "ArrDelay", "Cancelled", "Diverted", "AirTime", "Distance", "CarrierDelay", "WeatherDelay", "NASDelay", "SecurityDelay", "LateAircraftDelay"]
df3=df3[l]
df3

,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,OriginCityName,DestCityName,DepDelay,ArrDelay,Cancelled,Diverted,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1,3,8,2,2022-03-08,DL,"Knoxville, TN","Atlanta, GA",-7.00,-14.00,0.00,0.00,38.00,152.00,NaN,NaN,NaN,NaN,NaN
1,1,3,12,6,2022-03-12,DL,"Minneapolis, MN","Fort Lauderdale, FL",97.00,91.00,0.00,0.00,181.00,1487.00,0.00,0.00,91.00,0.00,0.00
2,1,3,15,2,2022-03-15,DL,"Knoxville, TN","Atlanta, GA",-7.00,-13.00,0.00,0.00,40.00,152.00,NaN,NaN,NaN,NaN,NaN
3,1,3,19,6,2022-03-19,DL,"Minneapolis, MN","Fort Lauderdale, FL",2.00,0.00,0.00,0.00,187.00,1487.00,NaN,NaN,NaN,NaN,NaN
4,1,3,22,2,2022-03-22,DL,"Knoxville, TN","Atlanta, GA",-15.00,-18.00,0.00,0.00,36.00,152.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590537,1,3,31,4,2022-03-31,UA,"New Orleans, LA","Newark, NJ",25.00,NaN,0.00,1.00,NaN,1167.00,NaN,NaN,NaN,NaN,NaN
590538,1,3,17,4,2022-03-17,UA,"Charlotte, NC","Newark, NJ",44.00,NaN,1.00,0.00,NaN,529.00,NaN,NaN,NaN,NaN,NaN
590539,1,3,8,2,2022-03-08,UA,"Albany, NY","Chicago, IL",378.00,381.00,0.00,0.00,135.00,723.00,378.00,0.00,3.00,0.00,0.00
590540,1,3,25,5,2022-03-25,UA,"Newark, NJ","Pittsburgh, PA",113.00,NaN,0.00,1.00,NaN,319.00,NaN,NaN,NaN,NaN,NaN
590541,1,3,7,1,2022-03-07,UA,"Newark, NJ","Raleigh/Durham, NC",-6.00,NaN,0.00,1.00,NaN,416.00,NaN,NaN,NaN,NaN,NaN

In [10]:
df3.shape

(590542, 19)

In [11]:
df4=pd.read_csv("Flights_2022_4.csv",sep=',', index_col=False, dtype='unicode')
df4.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2022,2,4,4,1,2022-04-04,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2022,2,4,4,1,2022-04-04,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2022,2,4,4,1,2022-04-04,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2022,2,4,4,1,2022-04-04,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2022,2,4,4,1,2022-04-04,UA,UA_CODESHARE,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [12]:
l = ["Quarter", "Month","DayofMonth", "DayOfWeek", "FlightDate", "Marketing_Airline_Network", "OriginCityName", "DestCityName", "DepDelay", "ArrDelay", "Cancelled", "Diverted", "AirTime", "Distance", "CarrierDelay", "WeatherDelay", "NASDelay", "SecurityDelay", "LateAircraftDelay"]
df4=df4[l]
df4

,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,OriginCityName,DestCityName,DepDelay,ArrDelay,Cancelled,Diverted,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2,4,4,1,2022-04-04,UA,"Grand Junction, CO","Denver, CO",-10.00,-17.00,0.00,0.00,40.00,212.00,NaN,NaN,NaN,NaN,NaN
1,2,4,4,1,2022-04-04,UA,"Harlingen/San Benito, TX","Houston, TX",-4.00,-1.00,0.00,0.00,55.00,295.00,NaN,NaN,NaN,NaN,NaN
2,2,4,4,1,2022-04-04,UA,"Durango, CO","Denver, CO",-15.00,-3.00,0.00,0.00,47.00,251.00,NaN,NaN,NaN,NaN,NaN
3,2,4,4,1,2022-04-04,UA,"Houston, TX","Gulfport/Biloxi, MS",-5.00,-18.00,0.00,0.00,57.00,376.00,NaN,NaN,NaN,NaN,NaN
4,2,4,4,1,2022-04-04,UA,"Durango, CO","Denver, CO",0.00,6.00,0.00,0.00,49.00,251.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580285,2,4,4,1,2022-04-04,UA,"Washington, DC","Buffalo, NY",12.00,3.00,0.00,0.00,63.00,283.00,NaN,NaN,NaN,NaN,NaN
580286,2,4,4,1,2022-04-04,UA,"Denver, CO","Flagstaff, AZ",-2.00,-21.00,0.00,0.00,69.00,503.00,NaN,NaN,NaN,NaN,NaN
580287,2,4,4,1,2022-04-04,UA,"Huntsville, AL","Washington, DC",-9.00,-16.00,0.00,0.00,88.00,596.00,NaN,NaN,NaN,NaN,NaN
580288,2,4,4,1,2022-04-04,UA,"Lafayette, LA","Houston, TX",-12.00,-13.00,0.00,0.00,47.00,201.00,NaN,NaN,NaN,NaN,NaN
580289,2,4,4,1,2022-04-04,UA,"Grand Junction, CO","Denver, CO",-5.00,8.00,0.00,0.00,46.00,212.00,NaN,NaN,NaN,NaN,NaN

In [13]:
df4.shape

(580290, 19)

In [14]:
df5=pd.read_csv("Flights_2022_5.csv",sep=',', index_col=False, dtype='unicode')
df5.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2022,2,5,3,2,2022-05-03,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2022,2,5,4,3,2022-05-04,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2022,2,5,1,7,2022-05-01,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2022,2,5,2,1,2022-05-02,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2022,2,5,3,2,2022-05-03,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [15]:
l = ["Quarter", "Month","DayofMonth", "DayOfWeek", "FlightDate", "Marketing_Airline_Network", "OriginCityName", "DestCityName", "DepDelay", "ArrDelay", "Cancelled", "Diverted", "AirTime", "Distance", "CarrierDelay", "WeatherDelay", "NASDelay", "SecurityDelay", "LateAircraftDelay"]
df5=df5[l]
df5

,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,OriginCityName,DestCityName,DepDelay,ArrDelay,Cancelled,Diverted,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2,5,3,2,2022-05-03,AA,"Washington, DC","Albany, NY",8.00,1.00,0.00,0.00,61.00,318.00,NaN,NaN,NaN,NaN,NaN
1,2,5,4,3,2022-05-04,AA,"Washington, DC","Albany, NY",-8.00,11.00,0.00,0.00,61.00,318.00,NaN,NaN,NaN,NaN,NaN
2,2,5,1,7,2022-05-01,AA,"Charlotte, NC","Tallahassee, FL",-7.00,-27.00,0.00,0.00,57.00,386.00,NaN,NaN,NaN,NaN,NaN
3,2,5,2,1,2022-05-02,AA,"Charlotte, NC","Tallahassee, FL",-10.00,-23.00,0.00,0.00,60.00,386.00,NaN,NaN,NaN,NaN,NaN
4,2,5,3,2,2022-05-03,AA,"Charlotte, NC","Tallahassee, FL",-11.00,-8.00,0.00,0.00,63.00,386.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602945,2,5,29,7,2022-05-29,DL,"Boston, MA","New York, NY",26.00,12.00,0.00,0.00,44.00,187.00,NaN,NaN,NaN,NaN,NaN
602946,2,5,29,7,2022-05-29,DL,"New York, NY","Pensacola, FL",-1.00,-32.00,0.00,0.00,136.00,1030.00,NaN,NaN,NaN,NaN,NaN
602947,2,5,29,7,2022-05-29,DL,"New York, NY","Washington, DC",-7.00,-11.00,0.00,0.00,46.00,214.00,NaN,NaN,NaN,NaN,NaN
602948,2,5,29,7,2022-05-29,DL,"New York, NY","Portland, ME",-7.00,-14.00,0.00,0.00,44.00,269.00,NaN,NaN,NaN,NaN,NaN
602949,2,5,29,7,2022-05-29,DL,"New York, NY","Pittsburgh, PA",100.00,71.00,0.00,0.00,58.00,340.00,0.00,0.00,0.00,0.00,71.00

In [16]:
df5.shape

(602950, 19)

In [17]:
df6=pd.read_csv("Flights_2022_6.csv",sep=',', index_col=False, dtype='unicode')
df6.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2022,2,6,27,1,2022-06-27,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2022,2,6,28,2,2022-06-28,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2022,2,6,29,3,2022-06-29,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2022,2,6,30,4,2022-06-30,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2022,2,6,1,3,2022-06-01,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [18]:
l = ["Quarter", "Month","DayofMonth", "DayOfWeek", "FlightDate", "Marketing_Airline_Network", "OriginCityName", "DestCityName", "DepDelay", "ArrDelay", "Cancelled", "Diverted", "AirTime", "Distance", "CarrierDelay", "WeatherDelay", "NASDelay", "SecurityDelay", "LateAircraftDelay"]
df6=df6[l]
df6

,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,OriginCityName,DestCityName,DepDelay,ArrDelay,Cancelled,Diverted,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2,6,27,1,2022-06-27,AA,"South Bend, IN","Charlotte, NC",10.00,12.00,0.00,0.00,72.00,534.00,NaN,NaN,NaN,NaN,NaN
1,2,6,28,2,2022-06-28,AA,"South Bend, IN","Charlotte, NC",-4.00,-17.00,0.00,0.00,75.00,534.00,NaN,NaN,NaN,NaN,NaN
2,2,6,29,3,2022-06-29,AA,"South Bend, IN","Charlotte, NC",-9.00,-15.00,0.00,0.00,72.00,534.00,NaN,NaN,NaN,NaN,NaN
3,2,6,30,4,2022-06-30,AA,"South Bend, IN","Charlotte, NC",-3.00,-14.00,0.00,0.00,73.00,534.00,NaN,NaN,NaN,NaN,NaN
4,2,6,1,3,2022-06-01,AA,"Charlotte, NC","Peoria, IL",3.00,-8.00,0.00,0.00,88.00,607.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602052,2,6,21,2,2022-06-21,DL,"Portland, OR","Salt Lake City, UT",0.00,-7.00,0.00,0.00,90.00,630.00,NaN,NaN,NaN,NaN,NaN
602053,2,6,21,2,2022-06-21,DL,"Salt Lake City, UT","Portland, OR",18.00,7.00,0.00,0.00,84.00,630.00,NaN,NaN,NaN,NaN,NaN
602054,2,6,22,3,2022-06-22,DL,"Portland, OR","Salt Lake City, UT",4.00,-1.00,0.00,0.00,88.00,630.00,NaN,NaN,NaN,NaN,NaN
602055,2,6,22,3,2022-06-22,DL,"Salt Lake City, UT","Portland, OR",15.00,4.00,0.00,0.00,84.00,630.00,NaN,NaN,NaN,NaN,NaN
602056,2,6,23,4,2022-06-23,DL,"Portland, OR","Salt Lake City, UT",-2.00,-13.00,0.00,0.00,86.00,630.00,NaN,NaN,NaN,NaN,NaN

In [19]:
df6.shape

(602057, 19)

In [20]:
df7=pd.read_csv("Flights_2022_7.csv",sep=',', index_col=False, dtype='unicode')
df7.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2022,3,7,19,2,2022-07-19,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2022,3,7,20,3,2022-07-20,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2022,3,7,21,4,2022-07-21,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2022,3,7,24,7,2022-07-24,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2022,3,7,25,1,2022-07-25,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [21]:
l = ["Quarter", "Month","DayofMonth", "DayOfWeek", "FlightDate", "Marketing_Airline_Network", "OriginCityName", "DestCityName", "DepDelay", "ArrDelay", "Cancelled", "Diverted", "AirTime", "Distance", "CarrierDelay", "WeatherDelay", "NASDelay", "SecurityDelay", "LateAircraftDelay"]
df7=df7[l]
df7

,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,OriginCityName,DestCityName,DepDelay,ArrDelay,Cancelled,Diverted,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,3,7,19,2,2022-07-19,AA,"Washington, DC","Tulsa, OK",-5.00,-29.00,0.00,0.00,129.00,1049.00,NaN,NaN,NaN,NaN,NaN
1,3,7,20,3,2022-07-20,AA,"Washington, DC","Tulsa, OK",19.00,1.00,0.00,0.00,136.00,1049.00,NaN,NaN,NaN,NaN,NaN
2,3,7,21,4,2022-07-21,AA,"Washington, DC","Tulsa, OK",-4.00,-16.00,0.00,0.00,145.00,1049.00,NaN,NaN,NaN,NaN,NaN
3,3,7,24,7,2022-07-24,AA,"Washington, DC","Tulsa, OK",7.00,-6.00,0.00,0.00,141.00,1049.00,NaN,NaN,NaN,NaN,NaN
4,3,7,25,1,2022-07-25,AA,"Washington, DC","Tulsa, OK",95.00,80.00,0.00,0.00,138.00,1049.00,5.00,0.00,0.00,0.00,75.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618785,3,7,1,5,2022-07-01,UA,"Albany, NY","Newark, NJ",16.00,18.00,0.00,0.00,31.00,143.00,0.00,0.00,18.00,0.00,0.00
618786,3,7,1,5,2022-07-01,UA,"Asheville, NC","Newark, NJ",-10.00,-25.00,0.00,0.00,92.00,583.00,NaN,NaN,NaN,NaN,NaN
618787,3,7,1,5,2022-07-01,UA,"Albany, NY","Newark, NJ",-8.00,20.00,0.00,0.00,33.00,143.00,0.00,0.00,20.00,0.00,0.00
618788,3,7,1,5,2022-07-01,UA,"Nashville, TN","Newark, NJ",28.00,43.00,0.00,0.00,119.00,748.00,0.00,0.00,43.00,0.00,0.00
618789,3,7,1,5,2022-07-01,UA,"Boston, MA","Newark, NJ",179.00,183.00,0.00,0.00,53.00,200.00,0.00,0.00,183.00,0.00,0.00

In [22]:
df7.shape

(618790, 19)

In [23]:
df8=pd.read_csv("Flights_2022_8.csv",sep=',', index_col=False, dtype='unicode')
df8.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2022,3,8,17,3,2022-08-17,WN,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2022,3,8,17,3,2022-08-17,WN,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2022,3,8,17,3,2022-08-17,WN,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2022,3,8,17,3,2022-08-17,WN,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2022,3,8,17,3,2022-08-17,WN,WN,19393,WN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [24]:
l = ["Quarter", "Month","DayofMonth", "DayOfWeek", "FlightDate", "Marketing_Airline_Network", "OriginCityName", "DestCityName", "DepDelay", "ArrDelay", "Cancelled", "Diverted", "AirTime", "Distance", "CarrierDelay", "WeatherDelay", "NASDelay", "SecurityDelay", "LateAircraftDelay"]
df8=df8[l]
df8

,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,OriginCityName,DestCityName,DepDelay,ArrDelay,Cancelled,Diverted,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,3,8,17,3,2022-08-17,WN,"Chicago, IL","San Antonio, TX",-2.00,-8.00,0.00,0.00,137.00,1036.00,NaN,NaN,NaN,NaN,NaN
1,3,8,17,3,2022-08-17,WN,"Chicago, IL","Savannah, GA",29.00,5.00,0.00,0.00,93.00,758.00,NaN,NaN,NaN,NaN,NaN
2,3,8,17,3,2022-08-17,WN,"Chicago, IL","Louisville, KY",11.00,-3.00,0.00,0.00,44.00,271.00,NaN,NaN,NaN,NaN,NaN
3,3,8,17,3,2022-08-17,WN,"Chicago, IL","Louisville, KY",1.00,-4.00,0.00,0.00,46.00,271.00,NaN,NaN,NaN,NaN,NaN
4,3,8,17,3,2022-08-17,WN,"Chicago, IL","Louisville, KY",113.00,108.00,0.00,0.00,48.00,271.00,14.00,0.00,0.00,0.00,94.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613644,3,8,10,3,2022-08-10,AA,"Myrtle Beach, SC","Philadelphia, PA",57.00,54.00,0.00,0.00,81.00,473.00,0.00,0.00,0.00,0.00,54.00
613645,3,8,16,2,2022-08-16,AA,"Myrtle Beach, SC","Philadelphia, PA",-16.00,-15.00,0.00,0.00,80.00,473.00,NaN,NaN,NaN,NaN,NaN
613646,3,8,17,3,2022-08-17,AA,"Myrtle Beach, SC","Philadelphia, PA",30.00,28.00,0.00,0.00,75.00,473.00,0.00,0.00,0.00,0.00,28.00
613647,3,8,18,4,2022-08-18,AA,"Myrtle Beach, SC","Philadelphia, PA",-16.00,-28.00,0.00,0.00,68.00,473.00,NaN,NaN,NaN,NaN,NaN
613648,3,8,19,5,2022-08-19,AA,"Myrtle Beach, SC","Philadelphia, PA",-12.00,-13.00,0.00,0.00,77.00,473.00,NaN,NaN,NaN,NaN,NaN

In [25]:
df8.shape

(613649, 19)

In [26]:
df9=pd.read_csv("Flights_2022_9.csv",sep=',', index_col=False, dtype='unicode')
df9.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2022,3,9,2,5,2022-09-02,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2022,3,9,3,6,2022-09-03,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2022,3,9,4,7,2022-09-04,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2022,3,9,5,1,2022-09-05,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2022,3,9,6,2,2022-09-06,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [27]:
l = ["Quarter", "Month","DayofMonth", "DayOfWeek", "FlightDate", "Marketing_Airline_Network", "OriginCityName", "DestCityName", "DepDelay", "ArrDelay", "Cancelled", "Diverted", "AirTime", "Distance", "CarrierDelay", "WeatherDelay", "NASDelay", "SecurityDelay", "LateAircraftDelay"]
df9=df9[l]
df9

,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,OriginCityName,DestCityName,DepDelay,ArrDelay,Cancelled,Diverted,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,3,9,2,5,2022-09-02,AA,"Washington, DC","Greer, SC",-4.00,-19.00,0.00,0.00,64.00,396.00,NaN,NaN,NaN,NaN,NaN
1,3,9,3,6,2022-09-03,AA,"Washington, DC","Greer, SC",-6.00,-17.00,0.00,0.00,61.00,396.00,NaN,NaN,NaN,NaN,NaN
2,3,9,4,7,2022-09-04,AA,"Washington, DC","Greer, SC",-4.00,-2.00,0.00,0.00,64.00,396.00,NaN,NaN,NaN,NaN,NaN
3,3,9,5,1,2022-09-05,AA,"Washington, DC","Greer, SC",-5.00,-33.00,0.00,0.00,62.00,396.00,NaN,NaN,NaN,NaN,NaN
4,3,9,6,2,2022-09-06,AA,"Washington, DC","Greer, SC",3.00,13.00,0.00,0.00,69.00,396.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580386,3,9,25,7,2022-09-25,WN,"Las Vegas, NV","Fresno, CA",-5.00,-17.00,0.00,0.00,41.00,259.00,NaN,NaN,NaN,NaN,NaN
580387,3,9,25,7,2022-09-25,WN,"Las Vegas, NV","Spokane, WA",-4.00,-26.00,0.00,0.00,105.00,806.00,NaN,NaN,NaN,NaN,NaN
580388,3,9,25,7,2022-09-25,WN,"Las Vegas, NV","Spokane, WA",-5.00,-26.00,0.00,0.00,108.00,806.00,NaN,NaN,NaN,NaN,NaN
580389,3,9,25,7,2022-09-25,WN,"Las Vegas, NV","Spokane, WA",9.00,-12.00,0.00,0.00,109.00,806.00,NaN,NaN,NaN,NaN,NaN
580390,3,9,25,7,2022-09-25,WN,"Las Vegas, NV","Honolulu, HI",0.00,-29.00,0.00,0.00,340.00,2762.00,NaN,NaN,NaN,NaN,NaN

In [28]:
df9.shape

(580391, 19)

In [29]:
df10=pd.read_csv("Flights_2022_10.csv",sep=',', index_col=False, dtype='unicode')
df10.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2022,4,10,29,6,2022-10-29,UA,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2022,4,10,29,6,2022-10-29,UA,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2022,4,10,29,6,2022-10-29,UA,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2022,4,10,29,6,2022-10-29,UA,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2022,4,10,29,6,2022-10-29,UA,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [30]:
l = ["Quarter", "Month","DayofMonth", "DayOfWeek", "FlightDate", "Marketing_Airline_Network", "OriginCityName", "DestCityName", "DepDelay", "ArrDelay", "Cancelled", "Diverted", "AirTime", "Distance", "CarrierDelay", "WeatherDelay", "NASDelay", "SecurityDelay", "LateAircraftDelay"]
df10=df10[l]
df10

,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,OriginCityName,DestCityName,DepDelay,ArrDelay,Cancelled,Diverted,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,4,10,29,6,2022-10-29,UA,"Columbus, OH","Houston, TX",16.00,30.00,0.00,0.00,163.00,986.00,16.00,0.00,14.00,0.00,0.00
1,4,10,29,6,2022-10-29,UA,"Kona, HI","Los Angeles, CA",-11.00,-26.00,0.00,0.00,277.00,2504.00,NaN,NaN,NaN,NaN,NaN
2,4,10,29,6,2022-10-29,UA,"Seattle, WA","Newark, NJ",-5.00,-10.00,0.00,0.00,282.00,2402.00,NaN,NaN,NaN,NaN,NaN
3,4,10,29,6,2022-10-29,UA,"Las Vegas, NV","San Francisco, CA",-7.00,-15.00,0.00,0.00,71.00,414.00,NaN,NaN,NaN,NaN,NaN
4,4,10,29,6,2022-10-29,UA,"Savannah, GA","Newark, NJ",-7.00,-23.00,0.00,0.00,94.00,708.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595317,4,10,31,1,2022-10-31,F9,"Las Vegas, NV","Spokane, WA",9.00,5.00,0.00,0.00,117.00,806.00,NaN,NaN,NaN,NaN,NaN
595318,4,10,31,1,2022-10-31,F9,"Spokane, WA","Las Vegas, NV",-1.00,-5.00,0.00,0.00,115.00,806.00,NaN,NaN,NaN,NaN,NaN
595319,4,10,31,1,2022-10-31,F9,"Las Vegas, NV","Fayetteville, AR",1.00,35.00,0.00,0.00,151.00,1163.00,1.00,0.00,34.00,0.00,0.00
595320,4,10,31,1,2022-10-31,F9,"Fayetteville, AR","Las Vegas, NV",33.00,18.00,0.00,0.00,154.00,1163.00,0.00,0.00,18.00,0.00,0.00
595321,4,10,31,1,2022-10-31,F9,"Las Vegas, NV","Cleveland, OH",29.00,34.00,0.00,0.00,227.00,1824.00,16.00,0.00,18.00,0.00,0.00

In [31]:
df10.shape

(595322, 19)

In [32]:
df11=pd.read_csv("Flights_2022_11.csv",sep=',', index_col=False, dtype='unicode')
df11.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2022,4,11,23,3,2022-11-23,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2022,4,11,27,7,2022-11-27,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2022,4,11,28,1,2022-11-28,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2022,4,11,29,2,2022-11-29,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2022,4,11,30,3,2022-11-30,AA,AA_CODESHARE,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [33]:
l = ["Quarter", "Month","DayofMonth", "DayOfWeek", "FlightDate", "Marketing_Airline_Network", "OriginCityName", "DestCityName", "DepDelay", "ArrDelay", "Cancelled", "Diverted", "AirTime", "Distance", "CarrierDelay", "WeatherDelay", "NASDelay", "SecurityDelay", "LateAircraftDelay"]
df11=df11[l]
df11

,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,OriginCityName,DestCityName,DepDelay,ArrDelay,Cancelled,Diverted,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,4,11,23,3,2022-11-23,AA,"Washington, DC","Hartford, CT",29.00,28.00,0.00,0.00,51.00,313.00,28.00,0.00,0.00,0.00,0.00
1,4,11,27,7,2022-11-27,AA,"Washington, DC","Hartford, CT",52.00,65.00,0.00,0.00,51.00,313.00,2.00,0.00,13.00,0.00,50.00
2,4,11,28,1,2022-11-28,AA,"Washington, DC","Hartford, CT",55.00,63.00,0.00,0.00,56.00,313.00,0.00,0.00,8.00,0.00,55.00
3,4,11,29,2,2022-11-29,AA,"Washington, DC","Hartford, CT",-11.00,-13.00,0.00,0.00,50.00,313.00,NaN,NaN,NaN,NaN,NaN
4,4,11,30,3,2022-11-30,AA,"Washington, DC","Hartford, CT",NaN,NaN,1.00,0.00,NaN,313.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567502,4,11,30,3,2022-11-30,DL,"Atlanta, GA","Detroit, MI",27.00,22.00,0.00,0.00,88.00,594.00,22.00,0.00,0.00,0.00,0.00
567503,4,11,1,2,2022-11-01,DL,"Salt Lake City, UT","Atlanta, GA",4.00,1.00,0.00,0.00,185.00,1590.00,NaN,NaN,NaN,NaN,NaN
567504,4,11,2,3,2022-11-02,DL,"Salt Lake City, UT","Atlanta, GA",-2.00,8.00,0.00,0.00,178.00,1590.00,NaN,NaN,NaN,NaN,NaN
567505,4,11,3,4,2022-11-03,DL,"Salt Lake City, UT","Atlanta, GA",19.00,29.00,0.00,0.00,192.00,1590.00,19.00,0.00,10.00,0.00,0.00
567506,4,11,4,5,2022-11-04,DL,"Salt Lake City, UT","Atlanta, GA",-1.00,7.00,0.00,0.00,196.00,1590.00,NaN,NaN,NaN,NaN,NaN

In [34]:
df11.shape

(567507, 19)

In [35]:
df12=pd.read_csv("Flights_2022_12.csv",sep=',', index_col=False, dtype='unicode')
df12.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,...,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2022,4,12,19,1,2022-12-19,DL,DL_CODESHARE,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2022,4,12,20,2,2022-12-20,DL,DL_CODESHARE,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2022,4,12,21,3,2022-12-21,DL,DL_CODESHARE,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2022,4,12,22,4,2022-12-22,DL,DL_CODESHARE,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2022,4,12,23,5,2022-12-23,DL,DL_CODESHARE,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [36]:
l = ["Quarter", "Month","DayofMonth", "DayOfWeek", "FlightDate", "Marketing_Airline_Network", "OriginCityName", "DestCityName", "DepDelay", "ArrDelay", "Cancelled", "Diverted", "AirTime", "Distance", "CarrierDelay", "WeatherDelay", "NASDelay", "SecurityDelay", "LateAircraftDelay"]
df12=df12[l]
df12

,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,OriginCityName,DestCityName,DepDelay,ArrDelay,Cancelled,Diverted,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,4,12,19,1,2022-12-19,DL,"Hartford, CT","New York, NY",-5.00,-6.00,0.00,0.00,25.00,101.00,NaN,NaN,NaN,NaN,NaN
1,4,12,20,2,2022-12-20,DL,"Hartford, CT","New York, NY",-5.00,-15.00,0.00,0.00,28.00,101.00,NaN,NaN,NaN,NaN,NaN
2,4,12,21,3,2022-12-21,DL,"Hartford, CT","New York, NY",-2.00,-14.00,0.00,0.00,30.00,101.00,NaN,NaN,NaN,NaN,NaN
3,4,12,22,4,2022-12-22,DL,"Hartford, CT","New York, NY",-5.00,-19.00,0.00,0.00,31.00,101.00,NaN,NaN,NaN,NaN,NaN
4,4,12,23,5,2022-12-23,DL,"Hartford, CT","New York, NY",NaN,NaN,1.00,0.00,NaN,101.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578316,4,12,27,2,2022-12-27,NK,"Kansas City, MO","Los Angeles, CA",50.00,37.00,0.00,0.00,182.00,1363.00,22.00,0.00,1.00,0.00,14.00
578317,4,12,28,3,2022-12-28,NK,"Kansas City, MO","Los Angeles, CA",-7.00,-24.00,0.00,0.00,191.00,1363.00,NaN,NaN,NaN,NaN,NaN
578318,4,12,29,4,2022-12-29,NK,"Kansas City, MO","Los Angeles, CA",11.00,22.00,0.00,0.00,210.00,1363.00,0.00,0.00,11.00,0.00,11.00
578319,4,12,30,5,2022-12-30,NK,"Kansas City, MO","Los Angeles, CA",-5.00,-21.00,0.00,0.00,187.00,1363.00,NaN,NaN,NaN,NaN,NaN
578320,4,12,31,6,2022-12-31,NK,"Kansas City, MO","Los Angeles, CA",-4.00,-15.00,0.00,0.00,196.00,1363.00,NaN,NaN,NaN,NaN,NaN

In [37]:
df12.shape

(578321, 19)

In [38]:
df1_2=pd.concat([df1,df2],ignore_index=True)
df1_2

,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,OriginCityName,DestCityName,DepDelay,ArrDelay,Cancelled,Diverted,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1,1,6,4,2022-01-06,DL,"Fort Lauderdale, FL","New York, NY",NaN,NaN,1.00,0.00,NaN,1076.00,NaN,NaN,NaN,NaN,NaN
1,1,1,6,4,2022-01-06,DL,"Atlanta, GA","Fort Lauderdale, FL",-4.00,-1.00,0.00,0.00,93.00,581.00,NaN,NaN,NaN,NaN,NaN
2,1,1,6,4,2022-01-06,DL,"Fort Lauderdale, FL","Atlanta, GA",-2.00,-12.00,0.00,0.00,83.00,581.00,NaN,NaN,NaN,NaN,NaN
3,1,1,6,4,2022-01-06,DL,"Fort Lauderdale, FL","Raleigh/Durham, NC",-5.00,-15.00,0.00,0.00,93.00,680.00,NaN,NaN,NaN,NaN,NaN
4,1,1,6,4,2022-01-06,DL,"Atlanta, GA","Jackson/Vicksburg, MS",-4.00,-11.00,0.00,0.00,60.00,341.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1083684,1,2,25,5,2022-02-25,UA,"Denver, CO","Idaho Falls, ID",16.00,0.00,0.00,0.00,77.00,458.00,NaN,NaN,NaN,NaN,NaN
1083685,1,2,23,3,2022-02-23,UA,"Wichita, KS","Houston, TX",144.00,145.00,0.00,0.00,96.00,542.00,144.00,0.00,1.00,0.00,0.00
1083686,1,2,22,2,2022-02-22,UA,"Houston, TX","Wichita, KS",-7.00,-15.00,0.00,0.00,76.00,542.00,NaN,NaN,NaN,NaN,NaN
1083687,1,2,16,3,2022-02-16,UA,"Roanoke, VA","Washington, DC",-9.00,-5.00,0.00,0.00,40.00,177.00,NaN,NaN,NaN,NaN,NaN
1083688,1,2,15,2,2022-02-15,UA,"Washington, DC","Roanoke, VA",2.00,12.00,0.00,0.00,44.00,177.00,NaN,NaN,NaN,NaN,NaN

In [39]:
df3_4=pd.concat([df3,df4],ignore_index=True)
df3_4

,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,OriginCityName,DestCityName,DepDelay,ArrDelay,Cancelled,Diverted,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1,3,8,2,2022-03-08,DL,"Knoxville, TN","Atlanta, GA",-7.00,-14.00,0.00,0.00,38.00,152.00,NaN,NaN,NaN,NaN,NaN
1,1,3,12,6,2022-03-12,DL,"Minneapolis, MN","Fort Lauderdale, FL",97.00,91.00,0.00,0.00,181.00,1487.00,0.00,0.00,91.00,0.00,0.00
2,1,3,15,2,2022-03-15,DL,"Knoxville, TN","Atlanta, GA",-7.00,-13.00,0.00,0.00,40.00,152.00,NaN,NaN,NaN,NaN,NaN
3,1,3,19,6,2022-03-19,DL,"Minneapolis, MN","Fort Lauderdale, FL",2.00,0.00,0.00,0.00,187.00,1487.00,NaN,NaN,NaN,NaN,NaN
4,1,3,22,2,2022-03-22,DL,"Knoxville, TN","Atlanta, GA",-15.00,-18.00,0.00,0.00,36.00,152.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1170827,2,4,4,1,2022-04-04,UA,"Washington, DC","Buffalo, NY",12.00,3.00,0.00,0.00,63.00,283.00,NaN,NaN,NaN,NaN,NaN
1170828,2,4,4,1,2022-04-04,UA,"Denver, CO","Flagstaff, AZ",-2.00,-21.00,0.00,0.00,69.00,503.00,NaN,NaN,NaN,NaN,NaN
1170829,2,4,4,1,2022-04-04,UA,"Huntsville, AL","Washington, DC",-9.00,-16.00,0.00,0.00,88.00,596.00,NaN,NaN,NaN,NaN,NaN
1170830,2,4,4,1,2022-04-04,UA,"Lafayette, LA","Houston, TX",-12.00,-13.00,0.00,0.00,47.00,201.00,NaN,NaN,NaN,NaN,NaN
1170831,2,4,4,1,2022-04-04,UA,"Grand Junction, CO","Denver, CO",-5.00,8.00,0.00,0.00,46.00,212.00,NaN,NaN,NaN,NaN,NaN

In [40]:
df5_6=pd.concat([df5,df6],ignore_index=True)
df5_6

,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,OriginCityName,DestCityName,DepDelay,ArrDelay,Cancelled,Diverted,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2,5,3,2,2022-05-03,AA,"Washington, DC","Albany, NY",8.00,1.00,0.00,0.00,61.00,318.00,NaN,NaN,NaN,NaN,NaN
1,2,5,4,3,2022-05-04,AA,"Washington, DC","Albany, NY",-8.00,11.00,0.00,0.00,61.00,318.00,NaN,NaN,NaN,NaN,NaN
2,2,5,1,7,2022-05-01,AA,"Charlotte, NC","Tallahassee, FL",-7.00,-27.00,0.00,0.00,57.00,386.00,NaN,NaN,NaN,NaN,NaN
3,2,5,2,1,2022-05-02,AA,"Charlotte, NC","Tallahassee, FL",-10.00,-23.00,0.00,0.00,60.00,386.00,NaN,NaN,NaN,NaN,NaN
4,2,5,3,2,2022-05-03,AA,"Charlotte, NC","Tallahassee, FL",-11.00,-8.00,0.00,0.00,63.00,386.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1205002,2,6,21,2,2022-06-21,DL,"Portland, OR","Salt Lake City, UT",0.00,-7.00,0.00,0.00,90.00,630.00,NaN,NaN,NaN,NaN,NaN
1205003,2,6,21,2,2022-06-21,DL,"Salt Lake City, UT","Portland, OR",18.00,7.00,0.00,0.00,84.00,630.00,NaN,NaN,NaN,NaN,NaN
1205004,2,6,22,3,2022-06-22,DL,"Portland, OR","Salt Lake City, UT",4.00,-1.00,0.00,0.00,88.00,630.00,NaN,NaN,NaN,NaN,NaN
1205005,2,6,22,3,2022-06-22,DL,"Salt Lake City, UT","Portland, OR",15.00,4.00,0.00,0.00,84.00,630.00,NaN,NaN,NaN,NaN,NaN
1205006,2,6,23,4,2022-06-23,DL,"Portland, OR","Salt Lake City, UT",-2.00,-13.00,0.00,0.00,86.00,630.00,NaN,NaN,NaN,NaN,NaN

In [41]:
df7_8=pd.concat([df7,df8],ignore_index=True)
df7_8

,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,OriginCityName,DestCityName,DepDelay,ArrDelay,Cancelled,Diverted,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,3,7,19,2,2022-07-19,AA,"Washington, DC","Tulsa, OK",-5.00,-29.00,0.00,0.00,129.00,1049.00,NaN,NaN,NaN,NaN,NaN
1,3,7,20,3,2022-07-20,AA,"Washington, DC","Tulsa, OK",19.00,1.00,0.00,0.00,136.00,1049.00,NaN,NaN,NaN,NaN,NaN
2,3,7,21,4,2022-07-21,AA,"Washington, DC","Tulsa, OK",-4.00,-16.00,0.00,0.00,145.00,1049.00,NaN,NaN,NaN,NaN,NaN
3,3,7,24,7,2022-07-24,AA,"Washington, DC","Tulsa, OK",7.00,-6.00,0.00,0.00,141.00,1049.00,NaN,NaN,NaN,NaN,NaN
4,3,7,25,1,2022-07-25,AA,"Washington, DC","Tulsa, OK",95.00,80.00,0.00,0.00,138.00,1049.00,5.00,0.00,0.00,0.00,75.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1232434,3,8,10,3,2022-08-10,AA,"Myrtle Beach, SC","Philadelphia, PA",57.00,54.00,0.00,0.00,81.00,473.00,0.00,0.00,0.00,0.00,54.00
1232435,3,8,16,2,2022-08-16,AA,"Myrtle Beach, SC","Philadelphia, PA",-16.00,-15.00,0.00,0.00,80.00,473.00,NaN,NaN,NaN,NaN,NaN
1232436,3,8,17,3,2022-08-17,AA,"Myrtle Beach, SC","Philadelphia, PA",30.00,28.00,0.00,0.00,75.00,473.00,0.00,0.00,0.00,0.00,28.00
1232437,3,8,18,4,2022-08-18,AA,"Myrtle Beach, SC","Philadelphia, PA",-16.00,-28.00,0.00,0.00,68.00,473.00,NaN,NaN,NaN,NaN,NaN
1232438,3,8,19,5,2022-08-19,AA,"Myrtle Beach, SC","Philadelphia, PA",-12.00,-13.00,0.00,0.00,77.00,473.00,NaN,NaN,NaN,NaN,NaN

In [42]:
df9_10=pd.concat([df9,df10],ignore_index=True)
df9_10

,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,OriginCityName,DestCityName,DepDelay,ArrDelay,Cancelled,Diverted,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,3,9,2,5,2022-09-02,AA,"Washington, DC","Greer, SC",-4.00,-19.00,0.00,0.00,64.00,396.00,NaN,NaN,NaN,NaN,NaN
1,3,9,3,6,2022-09-03,AA,"Washington, DC","Greer, SC",-6.00,-17.00,0.00,0.00,61.00,396.00,NaN,NaN,NaN,NaN,NaN
2,3,9,4,7,2022-09-04,AA,"Washington, DC","Greer, SC",-4.00,-2.00,0.00,0.00,64.00,396.00,NaN,NaN,NaN,NaN,NaN
3,3,9,5,1,2022-09-05,AA,"Washington, DC","Greer, SC",-5.00,-33.00,0.00,0.00,62.00,396.00,NaN,NaN,NaN,NaN,NaN
4,3,9,6,2,2022-09-06,AA,"Washington, DC","Greer, SC",3.00,13.00,0.00,0.00,69.00,396.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1175708,4,10,31,1,2022-10-31,F9,"Las Vegas, NV","Spokane, WA",9.00,5.00,0.00,0.00,117.00,806.00,NaN,NaN,NaN,NaN,NaN
1175709,4,10,31,1,2022-10-31,F9,"Spokane, WA","Las Vegas, NV",-1.00,-5.00,0.00,0.00,115.00,806.00,NaN,NaN,NaN,NaN,NaN
1175710,4,10,31,1,2022-10-31,F9,"Las Vegas, NV","Fayetteville, AR",1.00,35.00,0.00,0.00,151.00,1163.00,1.00,0.00,34.00,0.00,0.00
1175711,4,10,31,1,2022-10-31,F9,"Fayetteville, AR","Las Vegas, NV",33.00,18.00,0.00,0.00,154.00,1163.00,0.00,0.00,18.00,0.00,0.00
1175712,4,10,31,1,2022-10-31,F9,"Las Vegas, NV","Cleveland, OH",29.00,34.00,0.00,0.00,227.00,1824.00,16.00,0.00,18.00,0.00,0.00

In [43]:
df11_12=pd.concat([df11,df12],ignore_index=True)
df11_12

,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,OriginCityName,DestCityName,DepDelay,ArrDelay,Cancelled,Diverted,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,4,11,23,3,2022-11-23,AA,"Washington, DC","Hartford, CT",29.00,28.00,0.00,0.00,51.00,313.00,28.00,0.00,0.00,0.00,0.00
1,4,11,27,7,2022-11-27,AA,"Washington, DC","Hartford, CT",52.00,65.00,0.00,0.00,51.00,313.00,2.00,0.00,13.00,0.00,50.00
2,4,11,28,1,2022-11-28,AA,"Washington, DC","Hartford, CT",55.00,63.00,0.00,0.00,56.00,313.00,0.00,0.00,8.00,0.00,55.00
3,4,11,29,2,2022-11-29,AA,"Washington, DC","Hartford, CT",-11.00,-13.00,0.00,0.00,50.00,313.00,NaN,NaN,NaN,NaN,NaN
4,4,11,30,3,2022-11-30,AA,"Washington, DC","Hartford, CT",NaN,NaN,1.00,0.00,NaN,313.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1145823,4,12,27,2,2022-12-27,NK,"Kansas City, MO","Los Angeles, CA",50.00,37.00,0.00,0.00,182.00,1363.00,22.00,0.00,1.00,0.00,14.00
1145824,4,12,28,3,2022-12-28,NK,"Kansas City, MO","Los Angeles, CA",-7.00,-24.00,0.00,0.00,191.00,1363.00,NaN,NaN,NaN,NaN,NaN
1145825,4,12,29,4,2022-12-29,NK,"Kansas City, MO","Los Angeles, CA",11.00,22.00,0.00,0.00,210.00,1363.00,0.00,0.00,11.00,0.00,11.00
1145826,4,12,30,5,2022-12-30,NK,"Kansas City, MO","Los Angeles, CA",-5.00,-21.00,0.00,0.00,187.00,1363.00,NaN,NaN,NaN,NaN,NaN
1145827,4,12,31,6,2022-12-31,NK,"Kansas City, MO","Los Angeles, CA",-4.00,-15.00,0.00,0.00,196.00,1363.00,NaN,NaN,NaN,NaN,NaN

In [44]:
df1234=pd.concat([df1_2,df3_4],ignore_index=True)
df1234

,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,OriginCityName,DestCityName,DepDelay,ArrDelay,Cancelled,Diverted,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1,1,6,4,2022-01-06,DL,"Fort Lauderdale, FL","New York, NY",NaN,NaN,1.00,0.00,NaN,1076.00,NaN,NaN,NaN,NaN,NaN
1,1,1,6,4,2022-01-06,DL,"Atlanta, GA","Fort Lauderdale, FL",-4.00,-1.00,0.00,0.00,93.00,581.00,NaN,NaN,NaN,NaN,NaN
2,1,1,6,4,2022-01-06,DL,"Fort Lauderdale, FL","Atlanta, GA",-2.00,-12.00,0.00,0.00,83.00,581.00,NaN,NaN,NaN,NaN,NaN
3,1,1,6,4,2022-01-06,DL,"Fort Lauderdale, FL","Raleigh/Durham, NC",-5.00,-15.00,0.00,0.00,93.00,680.00,NaN,NaN,NaN,NaN,NaN
4,1,1,6,4,2022-01-06,DL,"Atlanta, GA","Jackson/Vicksburg, MS",-4.00,-11.00,0.00,0.00,60.00,341.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2254516,2,4,4,1,2022-04-04,UA,"Washington, DC","Buffalo, NY",12.00,3.00,0.00,0.00,63.00,283.00,NaN,NaN,NaN,NaN,NaN
2254517,2,4,4,1,2022-04-04,UA,"Denver, CO","Flagstaff, AZ",-2.00,-21.00,0.00,0.00,69.00,503.00,NaN,NaN,NaN,NaN,NaN
2254518,2,4,4,1,2022-04-04,UA,"Huntsville, AL","Washington, DC",-9.00,-16.00,0.00,0.00,88.00,596.00,NaN,NaN,NaN,NaN,NaN
2254519,2,4,4,1,2022-04-04,UA,"Lafayette, LA","Houston, TX",-12.00,-13.00,0.00,0.00,47.00,201.00,NaN,NaN,NaN,NaN,NaN
2254520,2,4,4,1,2022-04-04,UA,"Grand Junction, CO","Denver, CO",-5.00,8.00,0.00,0.00,46.00,212.00,NaN,NaN,NaN,NaN,NaN

In [45]:
df5678=pd.concat([df5_6,df7_8],ignore_index=True)
df5678

,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,OriginCityName,DestCityName,DepDelay,ArrDelay,Cancelled,Diverted,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2,5,3,2,2022-05-03,AA,"Washington, DC","Albany, NY",8.00,1.00,0.00,0.00,61.00,318.00,NaN,NaN,NaN,NaN,NaN
1,2,5,4,3,2022-05-04,AA,"Washington, DC","Albany, NY",-8.00,11.00,0.00,0.00,61.00,318.00,NaN,NaN,NaN,NaN,NaN
2,2,5,1,7,2022-05-01,AA,"Charlotte, NC","Tallahassee, FL",-7.00,-27.00,0.00,0.00,57.00,386.00,NaN,NaN,NaN,NaN,NaN
3,2,5,2,1,2022-05-02,AA,"Charlotte, NC","Tallahassee, FL",-10.00,-23.00,0.00,0.00,60.00,386.00,NaN,NaN,NaN,NaN,NaN
4,2,5,3,2,2022-05-03,AA,"Charlotte, NC","Tallahassee, FL",-11.00,-8.00,0.00,0.00,63.00,386.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2437441,3,8,10,3,2022-08-10,AA,"Myrtle Beach, SC","Philadelphia, PA",57.00,54.00,0.00,0.00,81.00,473.00,0.00,0.00,0.00,0.00,54.00
2437442,3,8,16,2,2022-08-16,AA,"Myrtle Beach, SC","Philadelphia, PA",-16.00,-15.00,0.00,0.00,80.00,473.00,NaN,NaN,NaN,NaN,NaN
2437443,3,8,17,3,2022-08-17,AA,"Myrtle Beach, SC","Philadelphia, PA",30.00,28.00,0.00,0.00,75.00,473.00,0.00,0.00,0.00,0.00,28.00
2437444,3,8,18,4,2022-08-18,AA,"Myrtle Beach, SC","Philadelphia, PA",-16.00,-28.00,0.00,0.00,68.00,473.00,NaN,NaN,NaN,NaN,NaN
2437445,3,8,19,5,2022-08-19,AA,"Myrtle Beach, SC","Philadelphia, PA",-12.00,-13.00,0.00,0.00,77.00,473.00,NaN,NaN,NaN,NaN,NaN

In [46]:
df9101112=pd.concat([df9_10,df11_12],ignore_index=True)
df9101112

,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,OriginCityName,DestCityName,DepDelay,ArrDelay,Cancelled,Diverted,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,3,9,2,5,2022-09-02,AA,"Washington, DC","Greer, SC",-4.00,-19.00,0.00,0.00,64.00,396.00,NaN,NaN,NaN,NaN,NaN
1,3,9,3,6,2022-09-03,AA,"Washington, DC","Greer, SC",-6.00,-17.00,0.00,0.00,61.00,396.00,NaN,NaN,NaN,NaN,NaN
2,3,9,4,7,2022-09-04,AA,"Washington, DC","Greer, SC",-4.00,-2.00,0.00,0.00,64.00,396.00,NaN,NaN,NaN,NaN,NaN
3,3,9,5,1,2022-09-05,AA,"Washington, DC","Greer, SC",-5.00,-33.00,0.00,0.00,62.00,396.00,NaN,NaN,NaN,NaN,NaN
4,3,9,6,2,2022-09-06,AA,"Washington, DC","Greer, SC",3.00,13.00,0.00,0.00,69.00,396.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2321536,4,12,27,2,2022-12-27,NK,"Kansas City, MO","Los Angeles, CA",50.00,37.00,0.00,0.00,182.00,1363.00,22.00,0.00,1.00,0.00,14.00
2321537,4,12,28,3,2022-12-28,NK,"Kansas City, MO","Los Angeles, CA",-7.00,-24.00,0.00,0.00,191.00,1363.00,NaN,NaN,NaN,NaN,NaN
2321538,4,12,29,4,2022-12-29,NK,"Kansas City, MO","Los Angeles, CA",11.00,22.00,0.00,0.00,210.00,1363.00,0.00,0.00,11.00,0.00,11.00
2321539,4,12,30,5,2022-12-30,NK,"Kansas City, MO","Los Angeles, CA",-5.00,-21.00,0.00,0.00,187.00,1363.00,NaN,NaN,NaN,NaN,NaN
2321540,4,12,31,6,2022-12-31,NK,"Kansas City, MO","Los Angeles, CA",-4.00,-15.00,0.00,0.00,196.00,1363.00,NaN,NaN,NaN,NaN,NaN

In [47]:
df1to8=pd.concat([df1234,df5678],ignore_index=True)
df1to8

,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,OriginCityName,DestCityName,DepDelay,ArrDelay,Cancelled,Diverted,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1,1,6,4,2022-01-06,DL,"Fort Lauderdale, FL","New York, NY",NaN,NaN,1.00,0.00,NaN,1076.00,NaN,NaN,NaN,NaN,NaN
1,1,1,6,4,2022-01-06,DL,"Atlanta, GA","Fort Lauderdale, FL",-4.00,-1.00,0.00,0.00,93.00,581.00,NaN,NaN,NaN,NaN,NaN
2,1,1,6,4,2022-01-06,DL,"Fort Lauderdale, FL","Atlanta, GA",-2.00,-12.00,0.00,0.00,83.00,581.00,NaN,NaN,NaN,NaN,NaN
3,1,1,6,4,2022-01-06,DL,"Fort Lauderdale, FL","Raleigh/Durham, NC",-5.00,-15.00,0.00,0.00,93.00,680.00,NaN,NaN,NaN,NaN,NaN
4,1,1,6,4,2022-01-06,DL,"Atlanta, GA","Jackson/Vicksburg, MS",-4.00,-11.00,0.00,0.00,60.00,341.00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4691962,3,8,10,3,2022-08-10,AA,"Myrtle Beach, SC","Philadelphia, PA",57.00,54.00,0.00,0.00,81.00,473.00,0.00,0.00,0.00,0.00,54.00
4691963,3,8,16,2,2022-08-16,AA,"Myrtle Beach, SC","Philadelphia, PA",-16.00,-15.00,0.00,0.00,80.00,473.00,NaN,NaN,NaN,NaN,NaN
4691964,3,8,17,3,2022-08-17,AA,"Myrtle Beach, SC","Philadelphia, PA",30.00,28.00,0.00,0.00,75.00,473.00,0.00,0.00,0.00,0.00,28.00
4691965,3,8,18,4,2022-08-18,AA,"Myrtle Beach, SC","Philadelphia, PA",-16.00,-28.00,0.00,0.00,68.00,473.00,NaN,NaN,NaN,NaN,NaN
4691966,3,8,19,5,2022-08-19,AA,"Myrtle Beach, SC","Philadelphia, PA",-12.00,-13.00,0.00,0.00,77.00,473.00,NaN,NaN,NaN,NaN,NaN

In [48]:
df=pd.concat([df1to8,df9101112],ignore_index=True)
df.head()

,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,OriginCityName,DestCityName,DepDelay,ArrDelay,Cancelled,Diverted,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1,1,6,4,2022-01-06,DL,"Fort Lauderdale, FL","New York, NY",NaN,NaN,1.00,0.00,NaN,1076.00,NaN,NaN,NaN,NaN,NaN
1,1,1,6,4,2022-01-06,DL,"Atlanta, GA","Fort Lauderdale, FL",-4.00,-1.00,0.00,0.00,93.00,581.00,NaN,NaN,NaN,NaN,NaN
2,1,1,6,4,2022-01-06,DL,"Fort Lauderdale, FL","Atlanta, GA",-2.00,-12.00,0.00,0.00,83.00,581.00,NaN,NaN,NaN,NaN,NaN
3,1,1,6,4,2022-01-06,DL,"Fort Lauderdale, FL","Raleigh/Durham, NC",-5.00,-15.00,0.00,0.00,93.00,680.00,NaN,NaN,NaN,NaN,NaN
4,1,1,6,4,2022-01-06,DL,"Atlanta, GA","Jackson/Vicksburg, MS",-4.00,-11.00,0.00,0.00,60.00,341.00,NaN,NaN,NaN,NaN,NaN

In [49]:
df.shape

(7013508, 19)

In [50]:
df.to_csv('2022_Flights.csv')